# ==========================
# Build folders
# ==========================
build/
dist/

# ==========================
# NetBeans
# ==========================
nbproject/private/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Java
# ==========================
*.class

# ==========================
# JavaFX
# ==========================
*.jfxws
*.fxuser

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary files
# ==========================
*.tmp
*.bak
*.swp